---

# other parameters like TLS settings will be passed to this role
- name: Create vhost for rdo_dashboards
  include_role:
    name: httpd
    tasks_from: vhost

# create a user
- set_fact:
    home: /srv/{{ dashboards_user }}
    git_checkout: /srv/{{ dashboards_user }}/git

- name: Install needed packages
  package:
    name:
      - ruby-devel
      - gcc
      - gcc-c++
      - make
      - rubygem-bundler
      - nodejs
      - git
      - openssl-devel
      - redhat-rpm-config
      - python3
      - python3-virtualenv
      - python3-koji
    state: present

- name: Create the user for rdo_dashboards
  user:
    name: '{{ dashboards_user }}'
    comment: User to run RDO dashboards
    home: '{{ home }}'

- name: Open the port for SELinux
  seport:
    ports: 3030
    proto: tcp
    setype: http_port_t
    state: present

- name: Deploy the rdo_dashboards service
  template:
    src: rdo_dashboards.service
    dest: /etc/systemd/system/rdo_dashboards.service
  notify: Reload systemd

- meta: flush_handlers
# make a git checkout
- block:
  - git:
      repo: https://github.com/rdo-infra/rdo-dashboards.git
      dest: '{{ git_checkout }}'
      version: HEAD
      update: yes
      # no manual changes allowed, crush them all
      force: yes

  - command: "bundle install --path ~/.gem"
    args:
      chdir: '{{ git_checkout }}'

  become: yes
  become_user: '{{ dashboards_user }}'

- name: Create configuration file
  template:
    src: rdo-dashboards.conf
    dest: /etc/
    owner: root
    group: '{{ dashboards_user }}'
    mode: 0750
  notify: Restart rdo_dashboards

- name: Install config.ru
  copy:
    src: config.ru
    dest: "{{ git_checkout }}/config.ru"
  notify: Restart rdo_dashboards

- name: Start the rdo_dashboards service
  service:
    name: rdo_dashboards
    state: started
    enabled: yes

- name: Deploy the cron to update the dashboards data
  cron:
    name: Feed dashboards
    job: '{{ git_checkout }}/feed-dashboard.sh 127.0.0.1:3030'
    user: "{{ dashboards_user }}"
    minute: '*/15'

- name: Deploy the cron to update code
  cron:
    name: Update code
    job: 'cd {{ git_checkout }} && git pull'
    user: "{{ dashboards_user }}"
    minute: '*/20'

- name: Deploy the httpd config
  template:
    src: proxy_rdo_dashboards.conf
    dest: /etc/httpd/conf.d/{{ website_domain }}.conf.d/proxy_rdo_dashboards.conf
  notify: verify config and restart httpd
