[Unit]
Description=RDO Dashboards
After=network-online.target

[Service]
Environment=PATH={{ home }}/bin:/usr/bin:/usr/local/bin
User={{ dashboards_user }}
Type=simple
WorkingDirectory={{ git_checkout }}
ExecStart=/usr/bin/bundle exec dashing start

[Install]
WantedBy=multi-user.target
